<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>interview-article</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/earlyaccess/notosansjapanese.css">
</head>
<body>

<nav>
    <div class="top-icon"><a href="/"><i class="fas fa-dog">&nbsp;TOP</i></a></div>
    <ul class="menu-button">
      <li><a href="/interview" class="interview-button">インタビュー</a></li>
      <li><a href="#" class="article-button">紹介記事</a></li>
    </ul>
</nav>


<section class="interview">
    
    <h2 class="interview-title">世界一のイングリッシュマフィン好き<br>ゆかちゃんに直撃インタビュー</h2>
   
    <figure class="interview-photo">
    <img src="images/IMG_E5429.JPG">
    </figure>

    <div class="interview-text">
        <p class="question">---ではまず、ゆかさんが思うパンの魅力についてお聞かせください。</p>
        <p>&emsp;小麦の味が楽しめる。バターの香りが楽しめる。 あとはアレンジが豊富なところだと思います。<br>食事系のパンでしたらベーコンエッグや焼きそばをいれてもあいますし、デザート系では砂糖やバター、クリーム、フルーツなど相性のいいものがたくさんありますね。<br>特に甘いものはご飯よりパンのほうがアレンジしやすいのかなと思います。</p>
        <p class="question">---そうですよね。ではその中でもイングリッシュマフィンにはまったということで、その理由は何でしょうか。</p>
        <p>&emsp;大きく分けて三つあります。一つ目は、トーストした時に外がカリカリ中がもちもちに仕上がってその食感が好きですね。<br>二つ目は、小麦本来の味が楽しめるところです。三つ目は、よつ葉バターとの相性がいいところです。うちではよつ葉バターをつかっているんですけど、青の発酵バターより緑のノーマルの方がより相性が抜群ですね。</p>
        <p class="question">---なるほど。イングリッシュマフィンの魅力が伝わってきました。それでは最後にゆかさんにとってのパンとは何でしょう。</p>
        <p>&emsp;パンとは、元気の源のひとつです。シェルティー。</p>
    </div>

    <div class="interview-sub">
        <img src="images/IMG_E5430.JPG">
        <p>パンを食べ始めるとたかってくる犬の様子</p>
    </div>

    

</section>    

<footer>
    <p class="copy">&copy;&nbsp;1993-2021&nbsp;nana-company.</p>
</footer>

</body>
</html>
